/lambdax_bfn.json
/psd_bfn.json
/lambdax_miost.json
/psd_miost.json
/lambdax_duacs.json
/psd_duacs.json
/lambdax_4dvarnet.json
/psd_4dvarnet.json
/lambdax_toto.json
/psd_toto.json
/lambdax_tata.json
/psd_tata.json
/psd_dymost.json
/lambdax_dymost.json
